<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Music Player">

    <link href="https://fonts.loli.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="player.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Music Player</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lyrics.js@0.4.2/lyrics.min.js" integrity="sha256-/kvWGjYoYXMhMTe/OnX1OhTo3MaMo5iwTKwC1/tfNM4=" crossorigin="anonymous"></script>

    <div id="app">
      <v-app>
        <v-toolbar app clipped-left height="64">
          <img src="favicon.ico" height="32">
          <v-spacer></v-spacer>
          <v-btn icon @click="p.searchResult = null">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          <v-text-field
            v-model="p.search"
            append-icon="search"
            @click:append="$emit('startSearch')"
            @keyup.enter="$emit('startSearch')"
          ></v-text-field>
          <v-spacer></v-spacer>
          <v-btn id="btnAccount" icon>
            <v-avatar v-if='p.avatarUrl' size="36">
              <img :src="p.avatarUrl + '?param=36x36'">
            </v-avatar>
            <v-icon v-else>account_circle</v-icon>
          </v-btn>
          <span>{{ p.nickname }}</span>
          <v-btn id="btnSettings" icon>
            <v-icon>settings</v-icon>
          </v-btn>
          <v-btn id="btnMinimize" small icon>
            <v-icon>minimize</v-icon>
          </v-btn>
          <v-btn id="btnMaximize" small icon>
            <v-icon>maximize</v-icon>
          </v-btn>
          <v-btn id="btnClose" small icon>
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-navigation-drawer app clipped permanent>
          <v-list dense>
            <v-list-group
              v-for="playlist in p.playlists"
              :key="playlist.id"
              :value="true"
            >
              <template v-slot:activator>
                <v-list-tile>
                  <v-list-tile-content>
                    {{ playlist.name }}
                  </v-list-tile-content>
                </v-list-tile>
              </template>
              <v-list-tile
                v-for="song in playlist"
                :key="song.id"
                ripple
                class="playlist-item"
                @click="$emit('playlistClicked', song)">
                <v-list-tile-content>
                  <div class="playlist-song-name">
                    {{ song.name }} - {{ song.ar.map(a => a.name).join('、') }}
                  </div>
                </v-list-tile-content>
                <v-list-tile-action>
                  <v-list-tile-action-text>
                    <v-btn
                      icon
                      class="btn-playlist-delete"
                      @click.stop="$emit('playlistDeleteClicked', song)"
                    >
                      <v-icon>delete</v-icon>
                    </v-btn>
                    {{ song.dt / 1000 | duration }}
                  </v-list-tile-action-text>
                </v-list-tile-action>
              </v-list-tile>
            </v-list-group>
          </v-list>
        </v-navigation-drawer>

        <v-content>
          <div class="search-result" v-if="p.searchResult">
            <v-data-table
              :items="p.searchResult"
              hide-actions
              hide-headers
            >
              <template v-slot:items="props">
                <td>{{ props.item.name }}</td>
                <td>{{ props.item.artists.map(a => a.name).join('、') }}</td>
                <td>《{{ props.item.album.name }}》</td>
                <td>{{ props.item.duration / 1000 | duration }}</td>
                <td>
                  <v-btn icon @click="$emit('searchResultPlayClicked', props.item.id)">
                    <v-icon>play_arrow</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </div>

          <v-container v-show="!p.searchResult">
            <div class="lyric-wrapper">
              <div id="lyric">
                <template v-if="p.lyric">
                  <div v-for="line in p.lyric" :class="{current: line.current}">{{ line.text }}</div>
                </template>
                <span v-else>No lyrics</span>
              </div>
            </div>
          </v-container>
        </v-content>

        <v-footer app height="72px" class="pl-4 pr-4">
          <v-btn id="btnPreviousTrack" icon color="primary">
            <v-icon>skip_previous</v-icon>
          </v-btn>
          <v-btn id="btnPlayPause" large icon color="primary">
            <v-icon v-if="p.paused">play_arrow</v-icon>
            <v-icon v-else>pause</v-icon>
          </v-btn>
          <v-btn  id="btnNextTrack"icon color="primary">
            <v-icon>skip_next</v-icon>
          </v-btn>
          <v-slider
            :step="0"
            :max="p.duration"
            class="pl-4 pr-4"
            :value="p.currentTime"
            @input="$emit('audioSliderInput', $event)"
          ></v-slider>
          {{ p.currentTime | duration }} / {{ p.duration | duration }}
          <v-btn id="btnRepeatMode" icon :input-value="p.repeatMode">
            <v-icon v-if="p.repeatMode === 'list'">repeat</v-icon>
            <v-icon v-else-if="p.repeatMode === 'shuffle'">shuffle</v-icon>
            <v-icon v-else-if="p.repeatMode === 'one'">repeat_one</v-icon>
            <v-icon v-else>arrow_right_alt</v-icon>
          </v-btn>
          <v-btn id="btnVolume" icon>
            <v-icon v-if="p.muted">volume_off</v-icon>
            <v-icon v-else>volume_up</v-icon>
          </v-btn>
          <v-btn id="btnTopLyric" icon :input-value="p.topLyric">
            词
          </v-btn>
        </v-footer>

        <v-snackbar v-model="p.snackbar" right>
          {{ p.snackbarText }}
          <v-btn icon @click="p.snackbar = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-snackbar>

        <audio id="audio" :src="p.src"></audio>
      </v-app>
    </div>

    <script>
      Vue.filter('duration', function (value) {
          value = Math.round(+value)
          if (isNaN(value))
              return '00:00'
          return `${Math.floor(value / 60)}:0${value % 60}`.replace(/0(\d\d)/g, '$1')
      })

      var app = new Vue({ el: '#app', data: { p: { } } })
      app.$vuetify.theme.primary = "#C20C0C"
    </script>
    <script src="player.js"></script>
  </body>
</html>
