<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="application-name" content="Music Player">

    <link href="https://fonts.loli.net/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="player.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <title>Music Player</title>
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lyrics.js@0.4.2/lyrics.min.js" integrity="sha256-/kvWGjYoYXMhMTe/OnX1OhTo3MaMo5iwTKwC1/tfNM4=" crossorigin="anonymous"></script>

    <div id="app">
      <v-app>
        <v-toolbar app clipped-left height="64">
          <img src="favicon.ico" height="32">
          <v-spacer></v-spacer>
          <v-autocomplete
            ref="search"
            hide-no-data
            append-icon="search"
          ></v-autocomplete>
          <v-spacer></v-spacer>
          <v-btn id="btnSettings" round icon>
            <v-icon>settings</v-icon>
          </v-btn>
          <v-btn id="btnAccount" round icon>
            <v-icon>account_circle</v-icon>
          </v-btn>
          <v-btn id="btnMinimize" small icon>
            <v-icon>minimize</v-icon>
          </v-btn>
          <v-btn id="btnMaximize" small icon>
            <v-icon>maximize</v-icon>
          </v-btn>
          <v-btn id="btnClose" small icon>
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>

        <v-navigation-drawer app clipped permanent>
          <v-list dense>
            <v-list-tile
              v-for="song in p.playlist"
              :key="song.id"
              ripple
              @click="$emit('playlistClicked', song)">
              <v-list-tile-content>
                {{ song.name }} - {{ song.ar.map(a => a.name).join('、') }}
              </v-list-tile-content>
              <v-list-tile-action>
                <v-list-tile-action-text>{{ song.dt / 1000 | duration }}</v-list-tile-action-text>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-navigation-drawer>

        <v-content>
          <v-container>
            <div class="lyric-wrapper">
              <div id="lyric">
                <template v-if="p.lyric">
                  <div v-for="line in p.lyric" :class="{current: line.current}">{{ line.text }}</div>
                </template>
                <span v-else>No lyrics</span>
              </div>
            </div>
          </v-container>
        </v-content>

        <v-footer app height="72px" class="pl-4 pr-4">
          <v-btn icon color="primary">
            <v-icon>skip_previous</v-icon>
          </v-btn>
          <v-btn id="btnPlayPause" large icon color="primary">
            <v-icon v-if="p.paused">play_arrow</v-icon>
            <v-icon v-else>pause</v-icon>
          </v-btn>
          <v-btn icon color="primary">
            <v-icon>skip_next</v-icon>
          </v-btn>
          <v-slider
            :step="0"
            :max="p.duration"
            class="pl-4 pr-4"
            v-model="p.currentTime"
          ></v-slider>
          {{ p.currentTime | duration }} / {{ p.duration | duration }}
          <v-btn id="btnRepeatMode" round icon :input-value="p.repeatMode">
            <v-icon>repeat_one</v-icon>
          </v-btn>
          <v-btn id="btnVolume" round icon>
            <v-icon v-if="p.muted">volume_off</v-icon>
            <v-icon v-else>volume_up</v-icon>
          </v-btn>
          <v-btn id="btnTopLyric" round icon :input-value="p.topLyric">
            词
          </v-btn>
        </v-footer>
        <audio id="audio" :src="p.src"></audio>
      </v-app>
    </div>

    <script>
      Vue.filter('duration', function (value) {
          value = Math.round(+value)
          if (isNaN(value))
              return '00:00'
          return `${Math.floor(value / 60)}:0${value % 60}`.replace(/0(\d\d)/g, '$1')
      })

      var app = new Vue({ el: '#app', data: { p: { } } })
      app.$vuetify.theme.primary = "#C20C0C"
    </script>
    <script src="player.js"></script>
  </body>
</html>
