html, body, #app, .v-content, .container {
  height: 100%;
}

/* https://vuetifyjs.com/en/getting-started/frequently-asked-questions#the-scrollbar-is-showing-even-though-my-content-is-not-overflowing-vertically- */
html {
  overflow-y: hidden;
}

body, .application {
  font-family: 'Microsoft Yahei';
  user-select: none;
}

.v-toolbar {
  -webkit-app-region: drag;
}

.v-toolbar button, input, .v-input__slot {
  -webkit-app-region: none;
}

.search-result {
  height: 100%;
  overflow-y: auto;
}

.playlist-item .btn-playlist-delete {
  opacity: 0;
}

  .playlist-item:hover .btn-playlist-delete {
    opacity: 1;
  }

.lyric-wrapper {
  height: 100%;
}

#lyric {
  position: relative;
  top: 50%;
  margin-top: -18px;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  transition: margin-top 0.5s;
}

#lyric > div {
  min-height: 36px;
  transition: all 0.5s;
}

#lyric > .current {
  color: #C20C0C;
  font-size: 24px;
  padding: 8px;
}
