canvas {
    margin: auto;
    background-color: darkseagreen;
    background: -webkit-linear-gradient(top, darkturquoise 80%, darkseagreen 110%);
    -moz-transition: background-color linear 1s;
    -o-transition: background-color linear 1s;
    -webkit-transition: background-color linear 1s;
    transition: background-color linear 1s;
}
